* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#07065d, #8c97da);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #030e41;
  font-family: 'Anton', sans-serif;
}

h1, p {
  text-align: center;
  border-radius: 25px;
}

p {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #bdbdbd;
}

span {
  text-align: center;
  padding-left: 100px;
  color: #770000;
}

.logo{
  color: #bdbdbd;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 35%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  text-decoration: none;
  color: #bdbdbd;
  letter-spacing: 2px;
  font-weight: bold;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #bdbdbd;
  margin: 5px;
  transition: all 0.3s ease;
  border-radius: 25px;
}

.wrapper {
  width:75%;
  margin:auto;
  margin-top: 10px;
  height: 80%;
  color: #bdbdbd;
  font-family: 'Poppins', sans-serif;
}

.location {
  margin: auto;
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  background-color: #3259ad;
  border-radius: 25px;
  box-shadow: -5px 5px 10px black;
}

.search-bar {
  height: 30px;
  border: 2px solid #b8b8b8;
  border-radius: 50px;
  padding: 3px;
  display: flex;
  margin-right: auto;
}

.search-bar-input {
  padding: 0 0.5em;
  flex-grow: 1;
  font-size: 1rem;
  border: 0;
  background: transparent;
  color: #b8b8b8;
  width: 50%;
  font-family: 'Poppins', sans-serif;
}
.search-bar-input:focus {
  outline: none;
}

.search-bar-submit {
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  background: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #b8b8b8;
}

::placeholder {
  color: #b8b8b8;
  opacity: 40%;
  font-family: 'Poppins', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  transition: background-color 50000s;
  -webkit-text-fill-color: #fff !important;
}

@media screen and (max-width:768px){
  body{
    overflow: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    /* background-color: #030e41; */
    background-image: linear-gradient(#030e41, #8c97da);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 90%;
  }
  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}
