<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5f92e30ae4.js" crossorigin="anonymous"></script>
    <title>Weather Finder</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav>
      <div class="logo">
        <h4>Weather Finder</h4>
      </div>
      <div class="form">
        <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="search-bar">
          {{ form.search_bar(size=32,placeholder="City, State",class_="search-bar-input") }}
          <button type="submit" class="search-bar-submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <ul class='nav-links'>
        <li><a href="/">Home</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    {% block body %}{% endblock %}
    <footer>
      <div class="footer">
          <ul class='footer-links'>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
      </div>
    </footer>
  </body>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
