{% extends 'base.html' %}

{% block body %}
  <div class="wrapper">
    <div class="location">
      <h1>Current location: {{ location[0]}}, {{ location[1]}}</h1>
      <p>Temperature: {{ current_weather[0] }}</p>
      <p>Feels Like: {{ current_weather[1] }}</p>
      <p>High: {{ current_weather[2] }}</p>
      <p>Low: {{ current_weather[3] }}</p>
      <p>Condition: {{ current_weather[4] }}</p>
    </div>
    <div class="hour_forcast">
      <h2>Hourly Forcast</h2>
      {% for index in range(1,49) %}
      <div class="hour">
        <p>Temperature: {{ hourly_weather[1]['temp'] }}</p>
        <p>Wind Speed: {{ hourly_weather[1]['wind_speed'] }}</p>
        <p>Condition: {{ hourly_weather[1]['condition'] }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="day_forcast">
      <h2>Daily Forcast</h2>
        {% for index in range(1,8) %}
        <div class="day">
        <p>High: {{ daily_weather[index]['temp_high'] }}</p>
        <p>Low: {{ daily_weather[index]['temp_low'] }}</p>
        <p>Condition: {{ daily_weather[index]['condition'] }}</p>
        </div>
        {% endfor %}
    </div>
    <span>{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
    {% endwith %}</span>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </div>

{% endblock %}
