{% extends 'base.html' %}

{% block body %}
  <div class="wrapper">
    <div class="location">
      <h1>Weather For {{ city }}, {{ state }}</h1>
      <p>Temperature: {{ weather[0] }}</p>
      <p>Feels Like: {{ weather[1] }}</p>
      <p>High: {{ weather[2] }}</p>
      <p>Low: {{ weather[3] }}</p>
      <p>Condition: {{ weather[4] }}</p>
    </div>
    <br>
    <p><a href="/"><-- Back to Home</a></p>
  </div>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
